<div class="page-wrap">
	 <div class="content-wrap " >
		<div class="m-page">
			 <div id="departments-page-container" class="departments-stretch">
				<div>
					<div>
						<div class="divider"></div>
						<div id="headline-bottom">
							<section>
								<div id="departments-description">
									<h1 class="left">What are ROOTS?</h1>
									<h2 class="left"><b>ROOTS</b> are Tourism related Places, Businesses or Marketplaces that exist as Decentralised Autonomous Organisations on the RTS Network.</h2>
									<h2 class="left">Anyone can utilise from a set of <u><b>Smart Contract Templates</b></u> to create and deploy assets with custom policies.</h2>
									<h2 class="left">All ROOTS have the following functionalities...</h2>
									 <br/>
									<div id="company-info">
										<div class="info-box">
											<div style="background-image: url(<%= asset_path 'assets.png' %>); background-color: #C5CAE9;" class="breathe-animation description-icon">
											<%= image_tag "clip.png", :class => "clip"%>
											</div>
											<p>POSTING & LISTING</p>
										</div>
										<div class="info-box">
											<div style="background-image: url(<%= asset_path 'search.png' %>); background-color: #BBDEFB;" class="breathe-animation description-icon">
											<%= image_tag "clip.png", :class => "clip"%>
											</div>
											<p>SEARCH & FILTERING</p>
										</div>
										<div class="info-box">
											<div style="background-image: url(<%= asset_path 'reputation.png' %>); background-color: #B3E5FC;" class="breathe-animation description-icon">
											<%= image_tag "clip.png", :class => "clip"%>
											</div>
											<p>REPUTATION SYSTEM</p>
										</div>
										<div class="info-box">
											<div style="background-image: url(<%= asset_path 'payment.png' %>); background-color: #B2EBF2;" class="breathe-animation description-icon">
											<%= image_tag "clip.png", :class => "clip"%>
											</div>
											<p>PAYMENTS & INVOICING</p>
										</div>
									</div>
								</div>
						 	</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>