<div class="page-wrap">
	 <div class="content-wrap " >
		<div class="m-page">
			 <div id="departments-page-container" class="departments-stretch">
				<div>
					<div>
						<div class="divider"></div>
						<div id="headline-bottom">
							<section>
								<div id="departments-description">
									<h1 class="right">The RTS Network Team</h1>
									<h2 class="right">Brains behind</h2>
									<div id="company-info">
										<div class="info-box">
											<div class="about-me-image-wrapper">
												<div class="about-me-image-wrapper breathe-animation">
													<div style="background-image: url(<%= asset_path 'bhuwan.jpg'%>)" class="about-me">
														<%= image_tag "clip.png", :class => "clip"%>
													</div>
												</div>
												<a class="linkedin" href="https://www.linkedin.com/in/bhuwanarora/" target="_blank"><%= fa_icon "linkedin", :class => "white" %></a>
											</div>
											<div class="profile-content">
												<h3>Bhuwan Arora</h3>
												<div class="job-title">Founder, Chief Executive Officer</div>
												<div class="job-description">Entrepreneur. Technology. Product Evangelist. Travel Expert.</div>
											</div>
										</div>
										<div class="info-box">
											<div class="about-me-image-wrapper">
												<div class="about-me-image-wrapper breathe-animation">
													<div style="background-image: url(<%= asset_path 'yadip.jpg'%>)" class="about-me">
														<%= image_tag "clip.png", :class => "clip"%>
													</div>
												</div>
												<a class="linkedin" href="https://www.linkedin.com/in/yadipadlakha/" target="_blank"><%= fa_icon "linkedin", :class => "white" %></a>
											</div>
											<div class="profile-content">
												<h3>Yadip Adlakha</h3>
												<div class="job-title"></div>
												<div class="job-description">Blockchain Expert. CryptoTrader. ML/AI Scientist. Software Engineer.</div>
											</div>
										</div>
										<div class="info-box">
											<div class="about-me-image-wrapper">
												<div class="about-me-image-wrapper breathe-animation">
													<div style="background-image: url(<%= asset_path 'animesh.jpg'%>)" class="about-me">
														<%= image_tag "clip.png", :class => "clip"%>
													</div>
												</div>
											</div>
											<div class="profile-content">
												<h3>Animesh Singh</h3>
												<div class="job-title">Advisor</div>
												<div class="job-description">Chief Operating Officer, Health & Glow</div>
											</div>
										</div>
									</div>
								</div>
						 	</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

